@model shopban.Models.LOAI

@{
    ViewBag.Title = "Sual";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa loại</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaL)
    <div class="form-group">
        @Html.LabelFor(model => model.MaL,"Mã loại: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="font:18px;padding:5px 0 0 5px">@Model.MaL</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaDM,"Mã danh mục: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaDm")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenLoai,"Tên loại: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>
